<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="MSaaSFeed" value="https://microsoft.pkgs.visualstudio.com/e8efa521-db8e-4531-9cd8-6923807c7e83/_packaging/MSaaSFeed/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>